p {
  text-align: justify;
}

a {
  text-align: justify;
}

.tutorial_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 30%;
    margin-bottom: 10%;
    border-radius: 10px;
  }

.header {
  text-decoration: underline;
}
  
.banner {
  display: flex;
  justify-content: center;
}

  @media screen and (max-width: 740px) {
    .tutorial_img {
      height: 10%;
    }
  }