.carousel_component {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 96vw;
}

.carousel_component > i {
  font-size: 350%;
  cursor: pointer;
}

.mobile_reasons {
  display: none;
}

@media screen and (max-width: 560px) {
  .carousel_component {
    display: none;
  }

  .mobile_reasons {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .mobile_reasons_section {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .mobile_reason_item {
    margin: 5%;
    /* width: 23vw; */

  }



  .MuiButton-outlinedPrimary {
    color: white !important;
    background-color: black !important;
    border-radius: 25px !important;
    min-height: 13vh;
    min-width: 19vw !important;
  }
}
