.container {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  color: white;
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer_item:hover {
  cursor: pointer;
}

.insta_item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 740px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer_item {
    margin-top: 5%;
  }

  .insta_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
  }
}
