.main__wrapper {
  min-height: 87vh;
  max-height: 87vh;
  background-image: url("../images/soccer2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__fadeIn {
  /* min-height: 75vh;
    max-height: 80vh;
    height: auto !important;
    height: 600px; */
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main__descritption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 4%;
}

.main__descritption a {
  color: white;
  font-family: "DM Sans";
  line-height: 150%;
  text-align: center;
}

.main__descritption-text {
  width: 60%;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.main__descritption-text__title {
  font-weight: 1000;
  font-size: 250%;
  /* text-shadow: 4px 3px 0 #868686; */
  /* text-shadow: 1px 1px black; */
}

.main__actions {
  display: flex;
  justify-content: center;
  font-family: "DM Sans";
  margin-bottom: 3%;
}

.main__actions > button {
  width: 20%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 3%;
  height: 50px;
  font-size: large;
  transition: 0.3s;
}

.button_link {
  text-decoration: none;
  color: white;
}

.button_link:hover {
  color: black;
}

.main__actions > button:hover {
  width: 20%;
  background-color: white;
  color: black;
  border: 1px solid white;
  border-radius: 3%;
  height: 50px;
  font-size: large;
  cursor: pointer;
}

.main__actions__button1 {
  margin-right: 5%;
}

.main_helper {
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: flex-end;
}

@media screen and (max-width: 740px) {
  .main__descritption-text {
    width: 60%;
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
  }

  .main__descritption-text__title {
    font-weight: bold;
    font-size: 160%;
  }

  .main__actions > button {
    width: 40%;
  }

  .main__fadeIn {
    /* min-height: 75vh;
      max-height: 80vh;
      height: auto !important;
      height: 600px; */
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}


@media screen and (min-width: 1050px) {
    .main__fadeIn {
      /* min-height: 75vh;
      max-height: 80vh;
      height: auto !important;
      height: 600px; */
      max-height: 80vh;;
      /* min-height: 80vh; */
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  
    .main__descritption-text {
      width: 60%;
      display: flex;
      justify-content: center;
      margin-bottom: 2%;
    }
  }
  
  
  @media screen and (min-width: 1600px) {
    .main__fadeIn {
      /* min-height: 75vh;
      max-height: 80vh;
      height: auto !important;
      height: 600px; */
      max-height: 80vh;;
      /* min-height: 80vh; */
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  
    .main__descritption-text {
      width: 60%;
      display: flex;
      justify-content: center;
      margin-bottom: 0%;
    }
  
    .main__actions {
      margin-top: 2%;
    }
  }
