.main {
  flex-shrink: 0;
}

a {
  font-family: "DM Sans";
}

.main__wrapper {
  min-height: 87vh;
  max-height: 87vh;
  background-image: url("../images/soccer2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__fadeIn {
  /* min-height: 75vh;
  max-height: 80vh;
  height: auto !important;
  height: 600px; */
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main__descritption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 4%;
}

.main__descritption a {
  color: white;
  font-family: "DM Sans";
  line-height: 150%;
  text-align: center;
}

.main__descritption-text {
  width: 60%;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.main__descritption-text__title {
  font-weight: 1000;
  font-size: 250%;
  /* text-shadow: 4px 3px 0 #868686; */
  /* text-shadow: 1px 1px black; */
}

.main__actions {
  display: flex;
  justify-content: center;
  font-family: "DM Sans";
}

.main__actions > button {
  width: 20%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 3%;
  height: 50px;
  font-size: large;
  transition: 0.3s;
}

.main__actions > button:hover {
  width: 20%;
  background-color: white;
  color: black;
  border: 1px solid white;
  border-radius: 3%;
  height: 50px;
  font-size: large;
  cursor: pointer;
}

.main__actions__button1 {
  margin-right: 5%;
}


.main_helper {
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: flex-end;
}

.section {
  min-height: 88vh;

}

.section2 {
  min-height: 88vh;
  max-height: 88vh;
  background-image: url("../images/soccer5.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section3 {
  min-height: 88vh;
  max-height: 88vh;
  background-image: url("../images/soccer5.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.section__header {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.section__header > a {
  line-height: 150%;
  text-align: center;
  font-weight: bold;
  font-size: 250%;
}


.date__text {
  display: flex;
  justify-content: center;
  font-size: 100%;
}

.section_items {
  margin: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
}



.odds_market {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 3%;
}

.menu-trigger {
  background: #ffffff;
  border-radius: 90px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menu-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 130%;
  margin: 0 10px;
}

.market_name {
  /* margin-right: 15%; */
  text-align: center;
}


.menu {
  background: black;
  border-radius: 8px;
  position: relative;
  top: 80%;
  /* right: 0; */
  width: 50%;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  display: none;
  /* transform: translateY(-20px); */
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  left: 50%;
  transform: translateX(-96%);
}


.menu.active {
  display: block;
  opacity: 1;
  visibility: visible;
  /* transform: translateY(0); */
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  left: 50%;
  
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #dddddd;
}

.menu li a {
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  display: block;
  cursor: pointer;
}

.menu li a:hover {
  color: black;
  background-color: white;
}


@media screen and (max-width: 740px) {
  .main__descritption-text {
    width: 60%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }

  .main__descritption-text__title {
    font-weight: bold;
    font-size: 160%;
  }



  .main__actions > button {
    width: 40%;
  }

  .main__fadeIn {
    /* min-height: 75vh;
    max-height: 80vh;
    height: auto !important;
    height: 600px; */
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .section__header {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 90%;
  }

  .date__text {
    display: flex;
  justify-content: center;
  font-size: 100%;
  }
}


@media screen and (min-width: 1050px) {
  .main__fadeIn {
    /* min-height: 75vh;
    max-height: 80vh;
    height: auto !important;
    height: 600px; */
    max-height: 80vh;;
    /* min-height: 80vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .main__descritption-text {
    width: 60%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
  }
}


@media screen and (min-width: 1600px) {
  .main__fadeIn {
    /* min-height: 75vh;
    max-height: 80vh;
    height: auto !important;
    height: 600px; */
    max-height: 80vh;;
    /* min-height: 80vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .main__descritption-text {
    width: 60%;
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
  }

  .main__actions {
    margin-top: 2%;
  }
}