.button_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile_register_button {
    text-decoration: none;
    color: black;
}

.mobile_register_button:hover {
    font-weight: bold;
}