.modal_wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.close_button {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.odds_market {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 3%;
}

.menu-trigger {
    background: #ffffff;
    border-radius: 90px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
   
  }
  
  .menu-trigger:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  }
  
  .menu-trigger span {
    font-weight: 700;
    vertical-align: middle;
    font-size: 130%;
    margin: 0 10px;
  }

  .market_name {
    /* margin-right: 15%; */
    text-align: center;
  }

  .odds_header  {
      
  }