.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(16, 16, 16, 0.75);
    opacity: 1.2;
    
  }
  
  
  .modal {
    position: fixed;
    top: 20vh;
    z-index: 30;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; 
    background-color: transparent;
    padding: 1rem;
    border-radius: 14px;
    animation: slide-down 1200ms ease-out forwards; 
    
  }
/* 
  @media (min-width: 768px) {
    .modal {
      width: 80vh;
      left: calc(50% - 22rem);
      
    }
  }

  @media (max-width: 768px) {
    .modal {
      width: 70%;
      left: calc(50% - 9rem);
        
    }
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    } */ 
  