.navbar__wrapper {
  position: sticky;
  top: 0;
  z-index: 999;
  font-size: 1.2rem;
  min-width: 100%;
}

.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); 
  height: 13vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
}

.navbar__container {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  margin-top: 1%;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: center;
}

.navbar__item {
  display: flex;
  height: 80px;
}

.navbar_item__text {
  color: white;
  font-family: "DM Sans";
  font-weight: bold;
}

.navbar_item__text2 {
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.navbar__name {
  margin-left: 25%;
  font-size: 150%;
  font-weight: 900;
  font-family: "DM Sans";
  color: white;
}

.navbar__name:hover {
  font-size: 155%;
}

.navbar__nav-links {
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.2rem 1rem;
  height: 100%;
}

.navbar__nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.navbar__menu-icon {
  display: none;
}



@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }


  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 99%;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    margin: 0;
    
  }

  .nav-menu.active {
    padding: 0;
    background: none;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    margin: 0;
    background-color: lightgray;
  }

  .navbar__nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__nav-links:hover {
    /* background-color: #fff; */
    color: #242424;
    border-radius: 0;
  }

.navbar__menu-icon__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

  .navbar__menu-icon {
    display: flex;

    /* display: block;
    position: absolute;
    top: 0;
    right: 0; */
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    margin-bottom: 30px;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    /* color: #fff; */
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .navbar__nav-links:hover {
    border-bottom: none;
    transition: all 0.2s ease-out;
  }
}
